.Link {
  color: #222;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 1.3;
}

.Link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: all 0.5s;
}

.Link.LinkActive::after,
.Link:hover::after {
  left: 0;
  width: 100%;
  right: auto;
}
