.ResponsiveWrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.Loading {
  opacity: 0.5;
  cursor: default;
}

@media only screen and (min-width: 576px) {
  .ResponsiveWrapper {
    width: 560px !important;
    max-width: 100% !important;
  }

  @media only screen and (min-width: 768px) {
    .ResponsiveWrapper {
      width: 752px !important;
      max-width: 100% !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  .ResponsiveWrapper {
    width: 976px !important;
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .ResponsiveWrapper {
    width: 1184px !important;
    max-width: 100% !important;
  }
}
