.TabList {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 85px;
  padding: 0;
}

.Tab {
  font-size: 24px;
  padding: 0 32px;
  color: #bbb;
  transition: all 0.5s;
  cursor: pointer;
}

.Tab:hover,
.Tab:focus,
.TabActive {
  color: #222222;
  outline: none;
}

@media only screen and (max-width: 576px) {
  .Tab {
    padding: 5px 32px;
  }

  .TabList {
    margin-bottom: 70px;
  }
}