.Container {
  display: flex;
}

.Title {
  font-size: 30px;
  color: #222;
  margin-top: 0;
  margin-bottom: 15px;
}

.Summary {
  color: #777777;
  font-size: 16px;
  line-height: 1.8;
}

@media only screen and (max-width: 576px) { 
  .Container {
    flex-direction: column-reverse;
  }

}