.PriceBox {
  line-height: 1;
  margin-top: 10px;
  font-size: 14px;
}

.Price {
  font-size: inherit;
  line-height: 1;
  color: #bbbbbb;
  margin: 0;
}

.OldPrice {
  text-decoration: line-through;
}

.NewPrice {
  color: #222222;
  padding-left: 8px;
}
