.Title {
  font-size: 14px;
  font-family: 'Cerebri Sans Bold', sans-serif;
  margin-bottom: 40px;
}

.Column {
  box-sizing: border-box;
}

.Links > *:not(:last-child) {
  padding: 3px 0;
  display: block;
}

@media only screen and (max-width: 576px) {
  .Title {
    margin-bottom: 15px;
  }
  .Column {
    margin-bottom: 30px;
  }
}