.ActionsBox {
  position: absolute;
  padding-top: 16px;
  bottom: -10px;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  transition: bottom 0.3s ease 0s, opacity 0.3s;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ActionsBox *:hover,
.ActionsBox *:focus {
  bottom: 0;
  opacity: 1;
  transform: scale(1);
}

.Icon {
  font-size: 16px;
  cursor: pointer;
  color: #bbb;
  transition: all 0.3s;
}

.AddToCart {
  background: transparent;
  border: none;
  font-family: 'Cerebri Sans Bold';
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding-right: 25px;
}

.AddToCart:disabled {
  cursor: default;
}

.AddToCart a:link,
.AddToCart a:visited {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin-right: 5px;
}

.AddToCart:active,
.AddToCart:focus {
  outline: none;
}

.Tooltip {
  padding: 5px;
  background-color: #000;
  font-size: 12px;
  white-space: nowrap;
}

.Icon:hover {
  color: #222;
}

.ToggleWishlistLoading {
  opacity: 0.5;
}

.ToggleWishlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .ActionsBox {
    position: relative;
    opacity: 1;
    transform: none;
    padding: 5px 0 0 0;
    bottom: auto;
  }
  .ActionsBox *:hover,
  .ActionsBox *:focus {
    bottom: auto;
    transform: none;
  }

  .AddToCart {
    padding: 0;
  }

  .Tooltip {
    display: none;
  }
}
